<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.sergiomoral.appcitas">
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET"/>

    <application
        android:name=".Appointments"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@drawable/ic_app"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".presentation.ui.view.SplashActivity.SplashScreenActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".presentation.ui.main.MainActivity"/>
        <activity android:name=".presentation.ui.view.ListAppointmentsActivity.AppointmentsListActivity"/>
        <activity
            android:name=".presentation.ui.view.SignUpActivity.SignUpActivity"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".presentation.ui.view.LoginActivity.LoginActivity"
            android:theme="@style/AppTheme" />

        <activity android:name=".presentation.ui.view.DetailsActivity.AppointmentDetailsActivity"/>
        <activity
            android:name=".presentation.ui.view.NetworkErrorActivity.NetworkErrorActivity"
            android:theme="@style/AppTheme" />

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="@string/google_maps_api" />
    </application>

</manifest>